.container {
  width: 360px;
  height: 168px;
  top: 632px;
  padding: 20px 10px 32px 10px;
  gap: 12px;
}

.address {
  height: 56px;
  padding: 16px 0px 16px 0px;
  gap: 8px;
  border-radius: 8px;
  background: #f6f6f9;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
